:root{
    --dark-bg: #03061d;
    --dark-primary: ;
    --dark-secondary: ;
    --dark-accent: ;

    --light-bg: #F4F5F7;
    --light-primary: #FFFFFF;
    --light-secondary: #5a00d8;
    --light-accent: #a76afc;

    --light-font-color: #000000;
    --light-heading: 'Inter SemiBold', sans-serif;
    --light-subheading-color: #4D4F62;

    --radius: 10px;

    --unit-small: 0.25rem;
    --unit-medium: 0.5rem;
    --unit-default: 1rem;


}

:global(:root){
    --dark-bg: #03061d;
    --dark-primary: ;
    --dark-secondary: ;
    --dark-accent: ;

    --light-bg: #F4F5F7;
    --light-primary: #FFFFFF;
    --light-secondary: #5a00d8;
    --ligt-accent: ;

    --light-font-color: #000000;
    --light-heading: 'Inter SemiBold', sans-serif;
    --light-subheading-color: #4D4F62;

    --radius: 10px;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:focus-visible, button:focus-visible, input:focus-visible, textarea:focus-visible {
    outline: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Font imports */
@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular.ttf');
}

/* General */
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--light-bg);
    font-family: 'Inter Regular', sans-serif;
}

/* Progressive enhancement DesktopNav */

.desktop-nav {
    width: 16rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    z-index: 5;
}

.desktop-nav-button {
    display: none;
    position: absolute;
    right: -1.25em;
    transition: 0.3s ease-in-out;
}

.desktop-nav-button svg {
    fill: #D9D9D9;
}

.desktop-nav-button:is(:hover, :focus) svg {
    fill: #5a00d8;
}

.desktop-nav-button:active {
    transform: rotate(180deg);
}

.javascriptEnabled .desktop-nav-button {
    display: block;
}

.to-the-left {
    left: -13.5rem;
}

.to-the-left .desktop-nav-button {
    transform: rotate(180deg);
}